*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Microsoft YaHei;
  list-style: none;
}
.main{
  width: 1200px;
  margin: auto;
}
input[type=text] {
    padding: 0 10px;
    outline: 0;
}


.top-banner {
  background: #000;
  color: #FFF;
  height: 40px;
  line-height: 40px;
}

.top-left-name {
  float: left;
  font-size: 12px;
  color: #FFF;
}

.top-right-name {
  float: right;
}

.top-right-name .right-name-item {
  padding: 0 2px;
  background: #FFF;
  color: #000;
  font-size: 14px;
}

.nav-box {
  height: 95px;
}

.logo-icon {
  float: left;
  width: 76px;
  height: 80px;
  margin-top: 5px;
  background: url(../../common/images/small_icon.png) -285px -128px no-repeat;
}

.nav-box nav {
  display: inline-block;
  height: 95px;
  line-height: 95px;
  margin-left: 270px;
}

.nav-box .nav-item {
  display: inline-block;
  height: 100%;
  margin: 0 20px;
  text-decoration: none;
  font-size: 16px;
  color: #010101;
}

.nav-box .nav-item:hover {
  border-bottom: 2px solid #f22c2d;
}

.contact-box {
  float: right;
  margin-top: 17px;
}

.contact-box .contact-title {
  color: #f22c2d;
  text-align: center;
}

.contact-box .contact-phone {
  padding: 2px 20px;
  border-radius: 20px;
  line-height: 28px;
  color: #f22c2d;
  font-size: 26px;
  border: 1px solid #999;
}

.contact-box .contact-icon {
  float: left;
  width: 17px;
  height: 28px;
  margin: 0 25px 0 25px;
  background: url(../../common/images/small_icon.png) -366px -305px no-repeat;
}
.footer-box{
  background: #f22c2d;
  padding: 50px 0 40px;
  overflow: hidden;
}

.copyright{
  float: left;
  width: 300px;
  margin: 20px 10px 20px 70px;;
}
.copyright .company-logo{
  display: block;
  width: 255px;
  height: 57px; 
  background: url(../../common/images/small_icon.png) -17px -441px no-repeat;
}

.copyright-info{
  font-size: 16px;
  color: #FFF;
  margin: 10px 5px;
}
.wechat-info{
  float: left;
  text-align: center;
  margin: 0 10px 30px;
  width: 220px;

}
.wechat-info img{
  width: 134px;
  margin: auto;
}
.wechat-info p {
  font-size: 12px;
  color: #FFF;
  text-align: center;
  margin-top: 15px;
}
.contact-us{
  float: left;
  color: #FFF;
  width: 500px;
  margin: 30px 0 0 40px;
}
.contact-us p{
  margin-bottom: 10px;
  line-height: 22px;
  font-size: 16px
}
.knowledge-planet-icon{
  float: left;
  margin-right: 5px;
  width: 22px;
  height: 21px;
  background: url(../../common/images/small_icon.png) -328px -309px no-repeat;
}
.weibo-icon{
  float: left;
  margin-right: 5px;
  width: 22px;
  height: 17px;
  margin-top: 2px;
  background: url(../../common/images/small_icon.png) -286px -311px no-repeat;
}
.address-icon{
  float: left;
  margin-right: 5px;
  width: 22px;
  height: 21px;
  background: url(../../common/images/small_icon.png) -252px -311px no-repeat;
}

.friend-link{
  clear: both;
  padding: 0 30px;
  overflow: hidden;
}
.friend-link span{
  float: left;
  font-size: 16px;
  color: #FFF;
  line-height: 12px;
}
.link li{
  float: left;
  line-height: 12px;
}
.link li a{
  display: inline-block;
  font-size: 16px;
  color: #FFF;
  padding: 0 10px;
  border-left: 1px solid #FFF;
  text-decoration: none;
}
.link li:first-child a{
  border-left: none;
}

.goods-price {
  display: inline-block;
  margin: 30px auto 0;
  background: #f22c2d;
  color: #FFF;
  padding: 5px 20px;
}

.goods-price span {
  color: #FFF;
}

.goods-price .currency {
  font-size: 14px;
}

.goods-price .price {
  font-size: 18px;
}
.hot-style {
  float: left;
  font-size: 12px;
  padding: 2px 10px;
  background: #f22c2d;
  color: #fff;
  margin-right: 10px;
}
.buy-now {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background: #f22c2d;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center
}