@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
#father{ background-color:#EEE; overflow:hidden; width:1366px; margin:0px auto;}
#head .top{ overflow:hidden; margin:0px; background-color:#FFF;}
#head .top .logo{ float:left; margin-left:20px; width:380px; height:65px; background:url(../image/log.jpg) top no-repeat; background-size: 90%;}
#head .top .respects{ float:left; height:65px; line-height:65px; margin-left:30px; font-size:12px;}
#head .top .respects span{ padding:20px; background:url(../image/smie.jpg) center no-repeat; background-size:40%;}
#head .top .off{ float:right; height:65px; line-height:65px; margin-right:50px;}
#head .top .off span{ padding:15px;}
#head .top .off a{ color:#000;}
#head .top .off a:hover{ color:#FF8000;}
#head .top .off .time{ background:url(../image/time_big.jpg) center no-repeat; background-size:75%;}
#head .top .off .out{ background:url(../image/out.jpg) center no-repeat; background-size:70%; margin-left:10px;}

#head .down{ height:53px; background:url(../image/navigation_bg.jpg) 0px repeat-x; padding-left:20px;}
#head .down .navs{ float:left;}
#head .down .navs .now a{background:url(../image/nav_bg2.jpg) bottom no-repeat;}
#head .down .navs li{ height:53px; line-height:53px; margin:0px; float:left; list-style-type:none;}
#head .down .navs li a{ color:#FFF; font-size:18px; font-family:Tahoma, Geneva, sans-serif; padding:19px 30px;}
#head .down .navs li a:hover{ background:url(../image/nav_bg2.jpg) bottom no-repeat; text-decoration:none;}
#head .down .marks{ height:53px; width:450px; float:right; background:url(../image/mark.jpg) right no-repeat; background-size:cover;}


#content{ margin-top:30px; overflow:hidden;}
#content .left{ width:240px; margin-left:30px; float:left; overflow:hidden;}
#content .left .card{ position:relative;}
#content .left .name{ height:53px; background:url(../image/navigation_bg.jpg) 0px repeat-x;}
#content .left .name .mark_pic{ position:absolute; right:0px; top:0px; height:53px; width:115px; background:url(../image/mark_pic.jpg) right no-repeat;}
#content .left .name p{ position:absolute; left:110px; z-index:3; height:53px; line-height:53px; color:#FFF; font-size:18px;}
#content .left .position{ height:73px; background-color:#FFF;}
#content .left .position .p_1{ font-size:12px; padding: 10px 0px 0px 110px; margin:0px; line-height:20px;}
#content .left .position .p_2{ font-size:14px; padding-left:110px; line-height:30px; font-weight:700;}
#content .left .photo{position:absolute; margin:15px 0px 0px 7px; }
#content .left .photo img{ border-radius:60px; border:2px solid #FFF;}
#content .left .date{ margin-top:30px; height:250px;}


#content .right{ float:left; margin:0px 30px; background-color:#FFF; width:1019px;}
#content .right .texts{ border-bottom:1px solid #EEE; padding:10px 0px; margin-bottom:10px;}
#content .right .texts p{ border:none; font-weight:400; line-height:25px;}
#content .right .texts .wait{ color:#FF8000;}
#content .right .texts .message{ color:#FF8000;}
#content .right .message-di .wait{ color:#FFF; background-color:#F07800; padding:0px 3px; border-radius:3px; font-weight:400;}
#content .right .message-di .message{ color:#FFF; background-color:#F07800; padding:0px 3px; border-radius:3px; font-weight:400; margin:0px 5px;}
#content .right .message-di .more{ float:right;}
#content .right .message-di .more a{ color:#000; font-weight:400; font-size:12px;}
#content .right .message-di .more a:hover{ color:#EC7600; text-decoration:none;}
#content .right .message-list{ margin:0px 15px 20px; padding:10px 15px 0px 15px; border-top:1px dashed #DDD;}
#content .right .message-list table{ padding:0px; margin:0px;}
#content .right .message-list td{ text-align:left; height:25px; padding-top:15px;}
#content .right .message-list .blue{ padding:5px; background:url(../image/blue.jpg) center no-repeat; margin:0px 10px;}
#content .right .message-list .red{ padding:5px; background:url(../image/red.jpg) center no-repeat; margin:0px 10px;}
#content .right .message-list a{ color:#000; float:right; font-size:14px; margin:-15px;}
#content .right .message-list a:hover{ color:#EC7600; text-decoration:none;}
#content .right .message-list button{ color:#000; float:right; background:none; border:none; margin:-17px 20px 0px; font-size:14px;}
#content .right .message-list button:hover{ color:#EC7600;}


#content .right .request .wait{ color:#FFF; background-color:#F07800; padding:0px 3px; border-radius:3px; font-weight:400; margin:0px 5px;}
#content .right .spans{ background:url(../image/time_small.jpg) center no-repeat; background-size: 90%; padding:10px; margin-right:5px;}
#content .right p{ margin:1px 15px; padding:0px 5px; line-height:35px; font-size:14px; font-weight:700; border-bottom:1px dashed #DDD; }
#content .right .tables{ margin:0px 15px 30px; padding:10px 15px 0px 15px; border-top:1px dashed #DDD;}


#content .right table td{ text-align:center; border:1px solid #BBB;}
#content .right .tables .tr_1{ background-color:#FFECD9;}
#content .right .tables button{ margin-left:20px; border:none; background:none; color:#000;}
#content .right .tables button:hover{ color:#FF8000;}

#content .right .tables .operate{color:#E00;}
#content .right .tables .operate a{color:#000; margin-left:10px; text-decoration:none; padding:0px; background:none; border:none;}
#content .right .tables .operate a:hover{ color:#EC7600; text-decoration:none;}
#content .right .tables .pages{ text-align:center; margin-top:40px;}
#content .right .tables .pages ul{ padding:0px; margin:0px;}



#foot{ height:50px; line-height:50px; background-color:#BBB; text-align:center; font-size:12px; margin-top:15px;}